* {
	box-sizing: border-box;
}
/* Base CSS – – – – – – – – – – – – – – – – – – */
body {
	background: rgba(238,223,175,.22);
	color: #111;
	font-family: sans-serif;
	font-size: 16px;
}
.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
/*.home-content {
	display: flex;
	min-height: 100vh;
	flex-direction: row;
}
.home-content > * {
	flex: 1;
}*/
h1, h5 {
	color: tomato;
}
h2, h3, h4, h6 {
	color: #555;
}
h2 {
	border-top: 2px solid #555;
	margin-top: 5em;
	padding-top: 5px;
}
h3 {
	font-size: 1.3em;
	margin-top: 3em;
	position: relative;
}
h3::before {
	content: "";
	border-top: 3px solid #555;
	position: absolute;
	top: -10px;
	width: 30px;
}
h5 {
	font-size: 1.1em;
	margin-bottom: 5px;
}
h6 {
	font-size: 1.05em;
	margin: 5px 0	;
}
p {
	font-size: 1.1em;
	line-height: 1.4em;
}
a {
	color: tomato;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
i {
	color: tomato;
}
.code-container span {
	background: tomato;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #eee;
	display: inline-block;
	font-size: .8em;
	padding: 6px 8px;
	margin-top: 1.5em;
	margin-bottom: 0;
}
pre {
	background: #333;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #eee;
	margin-top: 0;
	padding: 15px;
	overflow-x: scroll;
}
/* Styles de mise en page – – – – – – – – – – – */
.content-container {
	margin: 0 auto;
	width: 90%;
}
h1 {
	text-align: center;
}

.properties-nav {
	display: none;
}
.properties-nav ul {
	list-style: none;
}
.child-item {
	margin-left: 15px;
}

/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Eléments Flexbox

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */
.container {
	background: #6f432a;
	color: #fff;
	display: flex;
	font-size: 1.5em;
	font-weight: 600;
	padding: 5px 5px 5px 20px;
}
.item {
	background: #6ba4ab;
	margin: 15px 15px 15px 0;
	padding: 10px 15px;
	text-align: center;
}
.flex-direction-row {
	flex-direction: row;
}
.flex-direction-row-reverse {
	flex-direction: row-reverse;
}
.flex-direction-column {
	flex-direction: column;
}
.flex-direction-column-reverse {
	flex-direction: column-reverse;
}

.container {
	flex-wrap: wrap;
}
.container.nowrap {
	flex-wrap: nowrap;
	overflow-x: scroll;
}

.justify-content-flex-start {
	justify-content: flex-start;
}
.justify-content-flex-end {
	justify-content: flex-end;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-space-between {
	justify-content: space-between;
}
.justify-content-space-around {
	justify-content: space-around;
}

.align-items {
	min-height: 300px;
}
.align-items-flex-start {
	align-items: flex-start;
}
.align-items-flex-end {
	align-items: flex-end;
}
.align-items-center {
	align-items: center;
}
.align-items-stretch {
	align-items: stretch;
}

.align-items-baseline {
	align-items: baseline;
}
.baseline-item-1 {
	font-size: 2em;
	line-height: 3em;
	margin-top: 10px;
}
.baseline-item-2 {
	font-size: .8em;
	margin-top: 5px;
}
.baseline-item-3 {
	font-size: 3em;
	margin-top: 50px;
	margin-bottom: 20px;
}

.align-content {
	min-height: 550px;
}
.align-content-flex-start {
	align-content: flex-start;
}
.align-content-flex-end {
	align-content: flex-end;
}
.align-content-center {
	align-content: center;
}
.align-content-stretch {
	align-content: stretch;
}
.align-content-space-between {
	align-content: space-between;
}
.align-content-space-around {
	align-content: space-around;
}

/*Flexbox pour les flex-items (enfants) – – – */
.order .item {
	order: 1;
}
.order .item:nth-child(1) {
	order: 2;
}
.order .item:nth-child(2) {
	order: 3;
}
.order .item:nth-child(6) {
	order: 2;
}
.order .item:nth-child(7) {
	order: -1;
}
/* Exemple 1 pour Flex Grow — — — — — — — — — — — — — — — */
.flex-grow .item {
	flex-grow: 1;
}
/* Exemple 2 for Flex Grow — — — — — — — — — — — — — — — */
.flex-grow-2 .item {
	flex-grow: 1;
}
.flex-grow-2 .item:nth-child(2) {
	flex-grow: 2;
}
/* Exemple 3 for Flex Grow — — — — — — — — — — — — — — — */
.flex-grow-3 .item {
	flex-grow: 1;
}
.flex-grow-3 .item:nth-child(1) {
	flex-grow: 2;
}
.flex-grow-3 .item:nth-child(3) {
	flex-grow: 3;
}
.flex-shrink-1 .item:nth-child(3) {
	flex-shrink: 5;
}


/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Boite à outils

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* ie 6/7 */
}

/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Styles pour les exercices

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */

/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Exemple Mise en Page 3 Colonnes Responsives + Sticky Footer

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  flex: 1;
}
.wrapper > * {
  flex: 1 100%;
}
.layout-3-col .wrapper > * {
  padding: 1em;
}
footer {
  background: #333;
  color: whitesmoke;
  font-weight: 200;
}
.aside-1 {
  background: #ddd;
}

.aside-2 {
  background: tomato;
}

@media all and (min-width: 720px) {
	body {
		font-size: 1.05em;
	}
	.wrapper {
		flex-flow: row wrap;
	}
	.aside {
		flex: 1;
	}
}
@media all and (min-width: 960px) {
	body {
		font-size: 1.1em;
	}
	h1 {
		float: left;
	}
	.main {
		flex: 3 0px;
		order: 2;
	}
	.aside {
		flex: 1;
	}
	.aside-1 {
		order: 1;
	}
	.aside-2 {
		order: 3;
	}
	.main-content {
		flex: 1;
	}
	.properties-nav {
		flex: 2;
	}
}

/* Styles for Sticky Footer – – – – – – – – – – – – – – – – – – */
.footer h4 {
  color: rgba(238,223,175,.7);
  font-weight: 400;
  text-align: center;
}
.footer nav ul {
  margin-top: 1.1em;
  padding: 1.35em 0 2.5em;
}
.footer nav a:hover {
  color: orange;
}
@media all and (min-width: 960px) {
  .footer h4 {
    float: left;
  }
  .footer nav ul {
    margin-top: 1.1em;
    /*padding-bottom: 4em;*/
  }
}

/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Exemple Centrage Vertical

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */
.align {
  background: #ddd;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.align h1 {
  color: #fff;
  font-weight: 400;
  float: none;
}
.align-bloc {
  background: tomato;
  border-radius: 6px;
  padding: 30px;
}

/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Flex Main Menu

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */
.main-navigation {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
}
.main-navigation a {
  display: block;
}
.main-navigation li:last-of-type a {
  border-bottom: none;
}
.main-navigation a:hover {
  text-decoration: underline;
}

/* – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – –

Media Object

– – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – – */

.media-container {
  display: flex;
}
.media {
  border: 1px solid #ddd;
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.media-figure {
  margin-right: 1em;
  width: 25%;
}

.media-body {
  flex: 1;
  padding: 0 1em 0 0;
}

@media all and (max-width: 639px) {
  .main-navigation a,
  .active-link {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media all and (min-width: 640px) {
  .main-navigation {
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .main-navigation a {
    display: inline-block;
  }
  .main-navigation li {
    margin-left: 5px;
  }
  .main-navigation li::after {
    content: "/";
    margin-left: 2px;
  }
  .main-navigation li:last-of-type::after {
    content: "";
  }
}

@media all and (min-width: 960px) {
  .main-navigation {
    justify-content: flex-end;
    margin: 2.25em 0 0;
    padding: 0;
  }
  .main-navigation li {
    margin-left: 15px;
  }
}


